## 1.
What is a variable?

## 2.
Give 5 examples of variables with corresponding values.

## 3. 
State the data type for each of the following variables:
- b = False
- number = "1000"
- radius = 7.0
- diameter = 14
- country = 'Nigeria

## 4. 

Fix this string
quote = 'You're right, he won't agree to this deal.'

## 5. 

What happens when you call a string method like islower() on a float object? For example, 15.55.islower()

## 6. 

Write two lines of code each assigning a value to a variable. 

Now write a print statement using .format() to print out a sentence containing the values of both of the variables.

## 7. 

You’ve been provided below with example data for a user, the time of their visit and the site they accessed. 

You should use the variables provided and the techniques you’ve learned to print a log message like this: "Amina accessed the site http://kadatemy.com/courses/pythonfordatascience/class1 at 09:20." (with the username, url, and timestamp replaced with values from the appropriate variables). 

username = "Faith"

timestamp = "07:50"

url = "http://kadatemy.com/courses/pythonfordatascience/class1"

## 8.

Consider this string
str1 = "Python exercises are fun. It is very satisfying to solve problems using this computer language."
- a- Print the length of the string
- b- Show the first and last characters of the string.
- c- print the characters "exercises" from the string using the right index, do the same for "language".
- d- By using first, second and last characters of the string, create a new string
- e- Which character occurs more often in the string? "e" or "s" ? Print both counts inside the print function.

## 9. 

Consider this string 
str2 = "  I'm enjoying this a lot! I could do with more exercises.   "
- a- Return the string without any whitespace at the beginning or the end.
- b- what is the result of using the method isnumeric() on this string
- c- usind a method, return the last position of where "i" is found

## 10. 

Use an appropriate method that returns True if all characters in this string are digits.
x = "3490003"

## 11.

sets = {3, 1, 10, 4, 5, 6}

Write a code that sorts this set in ascending order. Print the output, explain the output you got and why.

## 12.

- set1 = {10, 20, 30, 40, 50}
- set2 = {30, 40, 50, 60, 70}

Write a code prints out a new set with all items from both sets by removing duplicates

## 13.

- Create a string that is a long series of words separated by spaces. 
It can be names, cities, animals, anything. Just make it up yourself.
- Turn the string into a list of words using split. 
- Delete two words from the list, but delete each one using a different kind of Python method. 
- Sort the list. 
- Add two new words to the list using two different kinds of Python operation used in adding items to a list. 
- Turn the list of words back into a single string using join. 
- Print the string.

NB: Feel free to use Google to find out other ways to add and remove items from a list

## 14.

Create a dictionary, then write a code to check whether a given key already exists in the dictionary

## 15.

details = {
     'person1': {'name': 'Oreoluwa', 'salary': 7500, 'age': 22},
     'person2': {'name': 'Sandra', 'salary': 8000, 'age': 25},
     'person3': {'name': 'Ifunanya', 'salary': 6500, 'age': 28}
}

Write a code that changes Ifunanya's salary to 9000

## 16.
list1 = [3, 5, 1, 3, 9, 5, 7] 

Write a code to sort this list in increasing order.

## 17.

list2 = [1, 2, 5, 7, 9, 0, 3, 6, 7, 1, 3, 5, 6, 8, ,2, 9, 0, 5, 2, 1, 2, 4, 2]

Write a code to count how many times 2 occured in the list

## 18.
list3 = ["Ifunanya", 10.4, 9, (23, "Titus", [10, ["Oreoluwa", "Sandra"], 22]), 100, 85.5, 12.4, "Promise", ("11", 90)]

Using string formatting, write a code that slices out "Oreoluwa", "Titus", slices out the number 100, 85.5, and 90.

Your code should print out: Oreoluwa couldn't score 100%, she got 90%, However, Titus is a close second with 85.5%.

NB: Make sure your output contains % sign

## 19.

list4 = ["Chima", "Ebuka", "Rose", "Hassan", "Bisi"]

Write a code that removes any of these names and replaces it with your name in that particular index

## 20.

Write a program that asks the user to enter the width and length of a room. 

Once these values have been read, your program should compute and display the area of the room. The length and the width will be entered as floating-point numbers. 

Include units in your prompt and output message; either feet or meters, depending on which unit you are more comfortable working with.

## 21.

Delete a list of keys from a dictionary

data = {
    "name": "Victor",
    "age": 27,
    "salary": 6000,
    "city": "London"
}

***Keys to remove:*** keys = ["name", "salary"]

## 22.

Write a program to rename the key "city" to "location" in the following dictionary.


data = {
    "name": "Victor",
    "age": 27,
    "salary": 6000,
    "city": "London"}

##23. 
The following is a tuple containing tuples.

tuple1 = (('a', 30), ('b', 37), ('c', 21), ('d',2))

Sort a tuple of tuples by 2nd item.

Expected output is (('d', 2), ('c', 22), ('a', 30), ('b', 37))